.background{
    background-color: blue;
    background-image:url(/aesthetic_img.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 250px;
    width: 25%;
    padding-left: 640px;
    padding-top: 750px;
    
}


